[submodule "amazon-braket-sdk-python"]
	path = amazon-braket-sdk-python
	url = https://github.com/amazon-braket/amazon-braket-sdk-python
[submodule "amazon-braket-default-simulator-python"]
	path = amazon-braket-default-simulator-python
	url = https://github.com/amazon-braket/amazon-braket-default-simulator-python
[submodule "amazon-braket-schemas-python"]
	path = amazon-braket-schemas-python
	url = https://github.com/amazon-braket/amazon-braket-schemas-python
[submodule "3rd-party/spdlog"]
	path = 3rd-party/spdlog
	url = https://github.com/gabime/spdlog
[submodule "benchmark/mqt-bench"]
	path = benchmark/mqt-bench
	url = https://github.com/cda-tum/mqt-bench
[submodule "benchmark/QASMBench"]
	path = benchmark/QASMBench
	url = https://github.com/pnnl/QASMBench
[submodule "3rd-party/libaio"]
	path = 3rd-party/libaio
	url = https://pagure.io/libaio
