[submodule "amazon-braket-sdk-python"]
	path = amazon-braket-sdk-python
	url = https://github.com/amazon-braket/amazon-braket-sdk-python
[submodule "amazon-braket-default-simulator-python"]
	path = amazon-braket-default-simulator-python
	url = https://github.com/amazon-braket/amazon-braket-default-simulator-python
